<!DOCTYPE html>
<html>
<head>
	<title>MegaPhone</title>
	<link rel="stylesheet" type="text/css" href="./Css/style.css">
</head>
<body>
	<div class="block">
		
		<% @voice.each do |voice| %>	
	<li>
  		<%= voice.voice %>
 		<%= voice.created_at %>
	</li>	
	<% end %>

		





		<!-- <form action="/index" method="post">
			<input type="text" name="voice"><%= @voice %> </input>
			<button type="submit">Voice!</button>
		</form>		 -->
	</div>

</body>
</html>