<!DOCTYPE html>
<html>
<head>
	<title>Speek UP</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<h1>MegaPhone</h1>

	<input type="text"></input>
	<input type="submit"> </input>
	

</body>
</html>